ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/* This selector focuses on paragraph elements */
p{
  color: red;
}

/* this selector is for any element that has the class note the "." is necessary to do so */
.note{
  font-size: 20px;
}

/* This selector is for any element that has an id specified, a "#" is necessary to do so */
#id-selector-demo{
  color: green;
}


/* this selector is for any element that is a list and also has the value "4", the element and the specific value are necessary */
li[value = "4"]{
  color: blue;
}

/* This is a universal element that is applied to every element */
*{
  text-align: center;
}